%title {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  color: $main;
  text-align: center;
}

%subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: $secondary;
  text-align: center;
  margin-top: 16px;
}

%lh24 {
  line-height: 24px;
}

%lh32 {
  line-height: 32px;
}
